In [86]:
import pandas as pd
from sklearn.cluster import KMeans
from sklearn.preprocessing import StandardScaler
import plotly.express as px
import hvplot.pandas
from sklearn.decomposition import PCA
import re
import numpy as np

In [87]:
# load in movie data
team_data = pd.read_csv('/Users/adambachrach/Desktop/Yellow_Project/ml-25m/yellowteam_movie_data.csv')
movie_df = pd.DataFrame(team_data)
movie_df.reset_index().head(50)

,index,Unnamed: 0,movieId,title,genres,imdbId,tmdbId,number of ratings,rating
0,0,0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,114709,862.0,57309,3.893708
1,1,1,2,Jumanji (1995),Adventure|Children|Fantasy,113497,8844.0,24228,3.251527
2,2,2,3,Grumpier Old Men (1995),Comedy|Romance,113228,15602.0,11804,3.142028
3,3,3,4,Waiting to Exhale (1995),Comedy|Drama|Romance,114885,31357.0,2523,2.853547
4,4,4,5,Father of the Bride Part II (1995),Comedy,113041,11862.0,11714,3.058434
5,5,5,6,Heat (1995),Action|Crime|Thriller,113277,949.0,24588,3.854909
6,6,6,7,Sabrina (1995),Comedy|Romance,114319,11860.0,12132,3.363666
7,7,7,8,Tom and Huck (1995),Adventure|Children,112302,45325.0,1344,3.114583
8,8,8,9,Sudden Death (1995),Action,114576,9091.0,3711,2.992051
9,9,9,10,GoldenEye (1995),Action|Adventure|Thriller,113189,710.0,28265,3.421458
10,10,10,11,"American President, The (1995)",Comedy|Drama|Romance,112346,9087.0,17042,3.657171
11,11,11,12,Dracula: Dead and Loving It (1995),Comedy|Horror,112896,12110.0,3741,2.624566
12,12,12,13,Balto (1995),Adventure|Animation|Children,112453,21032.0,1715,3.333528
13,13,13,14,Nixon (1995),Drama,113987,10858.0,5509,3.423489
14,14,14,15,Cutthroat Island (1995),Action|Adventure|Romance,112760,1408.0,2760,2.719022
15,15,15,16,Casino (1995),Crime|Drama,112641,524.0,18404,3.823707
16,16,16,17,Sense and Sensibility (1995),Drama|Romance,114388,4584.0,19729,3.948806
17,17,17,18,Four Rooms (1995),Comedy,113101,5.0,5374,3.384351
18,18,18,19,Ace Ventura: When Nature Calls (1995),Comedy,112281,9273.0,21552,2.642168
19,19,19,20,Money Train (1995),Action|Comedy|Crime|Drama|Thriller,113845,11517.0,3840,2.869922
20,20,20,21,Get Shorty (1995),Comedy|Crime|Thriller,113161,8012.0,22277,3.570162
21,21,21,22,Copycat (1995),Crime|Drama|Horror|Mystery|Thriller,112722,1710.0,9237,3.320017
22,22,22,23,Assassins (1995),Action|Crime|Thriller,112401,9691.0,4108,3.145691
23,23,23,24,Powder (1995),Drama|Sci-Fi,114168,12665.0,7450,3.187584
24,24,24,25,Leaving Las Vegas (1995),Drama|Romance,113627,451.0,20070,3.677304
25,25,25,26,Othello (1995),Drama,114057,16420.0,2549,3.606709
26,26,26,27,Now and Then (1995),Children|Drama,114011,9263.0,1577,3.403932
27,27,27,28,Persuasion (1995),Drama|Romance,114117,17015.0,2950,4.030000
28,28,28,29,"City of Lost Children, The (Cité des enfants p...",Adventure|Drama|Fantasy|Mystery|Sci-Fi,112682,902.0,8305,3.936725
29,29,29,30,Shanghai Triad (Yao a yao yao dao waipo qiao) ...,Crime|Drama,115012,37557.0,1166,3.636792
30,30,30,31,Dangerous Minds (1995),Drama,112792,9909.0,9106,3.244839
31,31,31,32,Twelve Monkeys (a.k.a. 12 Monkeys) (1995),Mystery|Sci-Fi|Thriller,114746,63.0,47054,3.905768
32,32,32,33,Wings of Courage (1995),Adventure|Romance|IMAX,114952,78802.0,65,3.023077
33,33,33,34,Babe (1995),Children|Drama,112431,9598.0,31456,3.603192
34,34,34,35,Carrington (1995),Drama|Romance,112637,47018.0,1352,3.479290
35,35,35,36,Dead Man Walking (1995),Crime|Drama,112818,687.0,19388,3.918687
36,36,36,37,Across the Sea of Time (1995),Documentary|IMAX,112286,139405.0,75,2.993333
37,37,37,38,It Takes Two (1995),Children|Comedy,113442,33689.0,631,2.870840
38,38,38,39,Clueless (1995),Comedy|Romance,112697,9603.0,26230,3.418738
39,39,39,40,"Cry, the Beloved Country (1995)",Drama,112749,34615.0,797,3.626725
40,40,40,41,Richard III (1995),Drama|War,114279,31174.0,4266,3.843413
41,41,41,42,Dead Presidents (1995),Action|Crime|Drama,112819,11443.0,2300,3.049565
42,42,42,43,Restoration (1995),Drama,114272,35196.0,2308,3.449957
43,43,43,44,Mortal Kombat (1995),Action|Adventure|Fantasy,113855,9312.0,10629,2.654624
44,44,44,45,To Die For (1995),Comedy|Drama|Thriller,114681,577.0,8267,3.382908
45,45,45,46,How to Make an American Quilt (1995),Drama|Romance,113347,11861.0,2889,3.263413
46,46,46,47,Seven (a.k.a. Se7en) (1995),Mystery|Thriller,114369,807.0,50596,4.079166
47,47,47,48,Pocahontas (1995),Animation|Children|Drama|Musical|Romance,114148,10530.0,13461,2.977751
48,48,48,49,When Night Is Falling (1995),Drama|Romance,114916,8391.0,228,3.519737
49,49,49,50,"Usual Suspects, The (1995)",Crime|Mystery|Thriller,114814,629.0,55366,4.284353

In [88]:
# split title(year) into separate columns to later filter by year
title_years = movie_df['title']
split_title_years = title_years.str.split(r'\((.*)\)')
# convert the array into a series
split_title_years_df = split_title_years.apply(pd.Series)
split_title_years_df = split_title_years_df.rename(columns={0: 'title', 1: 'year', 2: 'misc'})
sty_df = split_title_years_df.year.str.extract('(^\d+)')
sty_df.head(50)

       0
0   1995
1   1995
2   1995
3   1995
4   1995
5   1995
6   1995
7   1995
8   1995
9   1995
10  1995
11  1995
12  1995
13  1995
14  1995
15  1995
16  1995
17  1995
18  1995
19  1995
20  1995
21  1995
22  1995
23  1995
24  1995
25  1995
26  1995
27  1995
28   NaN
29   NaN
30  1995
31   NaN
32  1995
33  1995
34  1995
35  1995
36  1995
37  1995
38  1995
39  1995
40  1995
41  1995
42  1995
43  1995
44  1995
45  1995
46   NaN
47  1995
48  1995
49  1995

In [89]:
# 
updated_movie_df = pd.merge(split_title_years_df, movie_df, left_index=True, right_index=True)
updated_movie_df.drop(['title_y', 'year', 'misc'], axis=1, inplace=True)
new_movie_df = pd.merge(updated_movie_df, sty_df, right_index=True, left_index=True)
new_movie_df.rename(columns={0: 'year'}, inplace=True)
new_movie_df.head(50)

,title_x,Unnamed: 0,movieId,genres,imdbId,tmdbId,number of ratings,rating,year
0,Toy Story,0,1,Adventure|Animation|Children|Comedy|Fantasy,114709,862.0,57309,3.893708,1995
1,Jumanji,1,2,Adventure|Children|Fantasy,113497,8844.0,24228,3.251527,1995
2,Grumpier Old Men,2,3,Comedy|Romance,113228,15602.0,11804,3.142028,1995
3,Waiting to Exhale,3,4,Comedy|Drama|Romance,114885,31357.0,2523,2.853547,1995
4,Father of the Bride Part II,4,5,Comedy,113041,11862.0,11714,3.058434,1995
5,Heat,5,6,Action|Crime|Thriller,113277,949.0,24588,3.854909,1995
6,Sabrina,6,7,Comedy|Romance,114319,11860.0,12132,3.363666,1995
7,Tom and Huck,7,8,Adventure|Children,112302,45325.0,1344,3.114583,1995
8,Sudden Death,8,9,Action,114576,9091.0,3711,2.992051,1995
9,GoldenEye,9,10,Action|Adventure|Thriller,113189,710.0,28265,3.421458,1995
10,"American President, The",10,11,Comedy|Drama|Romance,112346,9087.0,17042,3.657171,1995
11,Dracula: Dead and Loving It,11,12,Comedy|Horror,112896,12110.0,3741,2.624566,1995
12,Balto,12,13,Adventure|Animation|Children,112453,21032.0,1715,3.333528,1995
13,Nixon,13,14,Drama,113987,10858.0,5509,3.423489,1995
14,Cutthroat Island,14,15,Action|Adventure|Romance,112760,1408.0,2760,2.719022,1995
15,Casino,15,16,Crime|Drama,112641,524.0,18404,3.823707,1995
16,Sense and Sensibility,16,17,Drama|Romance,114388,4584.0,19729,3.948806,1995
17,Four Rooms,17,18,Comedy,113101,5.0,5374,3.384351,1995
18,Ace Ventura: When Nature Calls,18,19,Comedy,112281,9273.0,21552,2.642168,1995
19,Money Train,19,20,Action|Comedy|Crime|Drama|Thriller,113845,11517.0,3840,2.869922,1995
20,Get Shorty,20,21,Comedy|Crime|Thriller,113161,8012.0,22277,3.570162,1995
21,Copycat,21,22,Crime|Drama|Horror|Mystery|Thriller,112722,1710.0,9237,3.320017,1995
22,Assassins,22,23,Action|Crime|Thriller,112401,9691.0,4108,3.145691,1995
23,Powder,23,24,Drama|Sci-Fi,114168,12665.0,7450,3.187584,1995
24,Leaving Las Vegas,24,25,Drama|Romance,113627,451.0,20070,3.677304,1995
25,Othello,25,26,Drama,114057,16420.0,2549,3.606709,1995
26,Now and Then,26,27,Children|Drama,114011,9263.0,1577,3.403932,1995
27,Persuasion,27,28,Drama|Romance,114117,17015.0,2950,4.030000,1995
28,"City of Lost Children, The",28,29,Adventure|Drama|Fantasy|Mystery|Sci-Fi,112682,902.0,8305,3.936725,NaN
29,Shanghai Triad,29,30,Crime|Drama,115012,37557.0,1166,3.636792,NaN
30,Dangerous Minds,30,31,Drama,112792,9909.0,9106,3.244839,1995
31,Twelve Monkeys,31,32,Mystery|Sci-Fi|Thriller,114746,63.0,47054,3.905768,NaN
32,Wings of Courage,32,33,Adventure|Romance|IMAX,114952,78802.0,65,3.023077,1995
33,Babe,33,34,Children|Drama,112431,9598.0,31456,3.603192,1995
34,Carrington,34,35,Drama|Romance,112637,47018.0,1352,3.479290,1995
35,Dead Man Walking,35,36,Crime|Drama,112818,687.0,19388,3.918687,1995
36,Across the Sea of Time,36,37,Documentary|IMAX,112286,139405.0,75,2.993333,1995
37,It Takes Two,37,38,Children|Comedy,113442,33689.0,631,2.870840,1995
38,Clueless,38,39,Comedy|Romance,112697,9603.0,26230,3.418738,1995
39,"Cry, the Beloved Country",39,40,Drama,112749,34615.0,797,3.626725,1995
40,Richard III,40,41,Drama|War,114279,31174.0,4266,3.843413,1995
41,Dead Presidents,41,42,Action|Crime|Drama,112819,11443.0,2300,3.049565,1995
42,Restoration,42,43,Drama,114272,35196.0,2308,3.449957,1995
43,Mortal Kombat,43,44,Action|Adventure|Fantasy,113855,9312.0,10629,2.654624,1995
44,To Die For,44,45,Comedy|Drama|Thriller,114681,577.0,8267,3.382908,1995
45,How to Make an American Quilt,45,46,Drama|Romance,113347,11861.0,2889,3.263413,1995
46,Seven,46,47,Mystery|Thriller,114369,807.0,50596,4.079166,NaN
47,Pocahontas,47,48,Animation|Children|Drama|Musical|Romance,114148,10530.0,13461,2.977751,1995
48,When Night Is Falling,48,49,Drama|Romance,114916,8391.0,228,3.519737,1995
49,"Usual Suspects, The",49,50,Crime|Mystery|Thriller,114814,629.0,55366,4.284353,1995

In [90]:
genres = []
for i in range(len(new_movie_df.genres)):
    for x in new_movie_df.genres[i].split('|'):
        if x not in genres:
            genres.append(x)

for x in genres:
    new_movie_df[x] = 0
for i in range(len(new_movie_df.genres)):
    for x in new_movie_df.genres[i].split('|'):
        new_movie_df[x][i] = 1

new_movie_df.drop(['genres'], axis=1)

/var/folders/n9/nmyqjt296k35d4yvkrgc5nbw0000gn/T/ipykernel_73930/1884296455.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_movie_df[x][i] = 1

,title_x,Unnamed: 0,movieId,imdbId,tmdbId,number of ratings,rating,year,Adventure,Animation,...,Horror,Mystery,Sci-Fi,IMAX,Documentary,War,Musical,Western,Film-Noir,(no genres listed)
0,Toy Story,0,1,114709,862.0,57309,3.893708,1995,1,1,...,0,0,0,0,0,0,0,0,0,0
1,Jumanji,1,2,113497,8844.0,24228,3.251527,1995,1,0,...,0,0,0,0,0,0,0,0,0,0
2,Grumpier Old Men,2,3,113228,15602.0,11804,3.142028,1995,0,0,...,0,0,0,0,0,0,0,0,0,0
3,Waiting to Exhale,3,4,114885,31357.0,2523,2.853547,1995,0,0,...,0,0,0,0,0,0,0,0,0,0
4,Father of the Bride Part II,4,5,113041,11862.0,11714,3.058434,1995,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
59042,We,59042,209157,6671244,499546.0,1,1.500000,2018,0,0,...,0,0,0,0,0,0,0,0,0,0
59043,Window of the Soul,59043,209159,297986,63407.0,1,3.000000,2001,0,0,...,0,0,0,0,1,0,0,0,0,0
59044,Bad Poems,59044,209163,6755366,553036.0,1,4.500000,2018,0,0,...,0,0,0,0,0,0,0,0,0,0
59045,A Girl Thing,59045,209169,249603,162892.0,1,3.000000,2001,0,0,...,0,0,0,0,0,0,0,0,0,1
59046,Women of Devil's Island,59046,209171,55323,79513.0,1,3.000000,1962,1,0,...,0,0,0,0,0,0,0,0,0,0

In [91]:
numeric_df = new_movie_df.drop(['Unnamed: 0', 'title_x', 'imdbId', 'tmdbId', 'genres'], axis=1)
numeric_df.dropna(inplace=True)
numeric_df

,movieId,number of ratings,rating,year,Adventure,Animation,Children,Comedy,Fantasy,Romance,...,Horror,Mystery,Sci-Fi,IMAX,Documentary,War,Musical,Western,Film-Noir,(no genres listed)
0,1,57309,3.893708,1995,1,1,1,1,1,0,...,0,0,0,0,0,0,0,0,0,0
1,2,24228,3.251527,1995,1,0,1,0,1,0,...,0,0,0,0,0,0,0,0,0,0
2,3,11804,3.142028,1995,0,0,0,1,0,1,...,0,0,0,0,0,0,0,0,0,0
3,4,2523,2.853547,1995,0,0,0,1,0,1,...,0,0,0,0,0,0,0,0,0,0
4,5,11714,3.058434,1995,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
59042,209157,1,1.500000,2018,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
59043,209159,1,3.000000,2001,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
59044,209163,1,4.500000,2018,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
59045,209169,1,3.000000,2001,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
59046,209171,1,3.000000,1962,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [92]:
numeric_df['year'] = numeric_df['year'].astype(int)
numeric_df

,movieId,number of ratings,rating,year,Adventure,Animation,Children,Comedy,Fantasy,Romance,...,Horror,Mystery,Sci-Fi,IMAX,Documentary,War,Musical,Western,Film-Noir,(no genres listed)
0,1,57309,3.893708,1995,1,1,1,1,1,0,...,0,0,0,0,0,0,0,0,0,0
1,2,24228,3.251527,1995,1,0,1,0,1,0,...,0,0,0,0,0,0,0,0,0,0
2,3,11804,3.142028,1995,0,0,0,1,0,1,...,0,0,0,0,0,0,0,0,0,0
3,4,2523,2.853547,1995,0,0,0,1,0,1,...,0,0,0,0,0,0,0,0,0,0
4,5,11714,3.058434,1995,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
59042,209157,1,1.500000,2018,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
59043,209159,1,3.000000,2001,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
59044,209163,1,4.500000,2018,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
59045,209169,1,3.000000,2001,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
59046,209171,1,3.000000,1962,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [93]:
scores = pd.read_csv('/Users/adambachrach/Desktop/Yellow_Project/ml-25m/genome-scores.csv')
tags = pd.read_csv('/Users/adambachrach/Desktop/Yellow_Project/ml-25m/genome-tags.csv')

In [94]:
scores_df = pd.DataFrame(scores)
tags_df = pd.DataFrame(tags)

In [95]:
scores_df

          movieId  tagId  relevance
0               1      1    0.02875
1               1      2    0.02375
2               1      3    0.06250
3               1      4    0.07575
4               1      5    0.14075
...           ...    ...        ...
15584443   206499   1124    0.11000
15584444   206499   1125    0.04850
15584445   206499   1126    0.01325
15584446   206499   1127    0.14025
15584447   206499   1128    0.03350

[15584448 rows x 3 columns]

In [96]:
tags_df

      tagId           tag
0         1           007
1         2  007 (series)
2         3  18th century
3         4         1920s
4         5         1930s
...     ...           ...
1123   1124       writing
1124   1125         wuxia
1125   1126          wwii
1126   1127        zombie
1127   1128       zombies

[1128 rows x 2 columns]

In [97]:
joined_tags = pd.merge(scores_df, tags_df, on='tagId')
joined_tags

          movieId  tagId  relevance      tag
0               1      1    0.02875      007
1               2      1    0.04125      007
2               3      1    0.04675      007
3               4      1    0.03425      007
4               5      1    0.04300      007
...           ...    ...        ...      ...
15584443   205072   1128    0.09100  zombies
15584444   205076   1128    0.02350  zombies
15584445   205383   1128    0.03925  zombies
15584446   205425   1128    0.02850  zombies
15584447   206499   1128    0.03350  zombies

[15584448 rows x 4 columns]

In [98]:
top_tags = joined_tags.loc[joined_tags.reset_index().groupby(['movieId'])['relevance'].idxmax()]
top_tags

          movieId  tagId  relevance              tag
14299560        1   1036    0.99925             toys
386849          2     29    0.97600        adventure
12434402        3    901    0.97525           sequel
15404843        4   1116    0.97525            women
12434404        5    901    0.96025           sequel
...           ...    ...        ...              ...
4600723    205072    333    0.81775   dumb but funny
6065220    205076    439    0.84750     girlie movie
10251469   205383    742    0.82050         original
13304806   205425    963    0.91825  stand-up comedy
10251471   206499    742    0.88600         original

[13816 rows x 4 columns]

In [99]:
unique_tags = top_tags['tagId'].unique()
len(unique_tags)

840

In [100]:
yellow_team_data = pd.read_csv('/Users/adambachrach/Desktop/Yellow_Project/yellowteam_movie_data.csv')
yellow_team_df = pd.DataFrame(yellow_team_data)
yellow_team_df

,Unnamed: 0.1,movieId,tagId,relevance,tag,Unnamed: 0,title,genres,imdbId,tmdbId,number of ratings,rating
0,0,1,1036,0.99925,toys,0,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,114709,862.0,57309,3.893708
1,1,2,29,0.97600,adventure,1,Jumanji (1995),Adventure|Children|Fantasy,113497,8844.0,24228,3.251527
2,2,3,901,0.97525,sequel,2,Grumpier Old Men (1995),Comedy|Romance,113228,15602.0,11804,3.142028
3,3,4,1116,0.97525,women,3,Waiting to Exhale (1995),Comedy|Drama|Romance,114885,31357.0,2523,2.853547
4,4,5,901,0.96025,sequel,4,Father of the Bride Part II (1995),Comedy,113041,11862.0,11714,3.058434
...,...,...,...,...,...,...,...,...,...,...,...,...
13811,13811,205072,333,0.81775,dumb but funny,57790,Zombieland: Double Tap (2019),Action|Comedy|Horror,1560220,338967.0,58,3.310345
13812,13812,205076,439,0.84750,girlie movie,57792,Downton Abbey (2019),Drama,6398184,535544.0,53,3.216981
13813,13813,205383,742,0.82050,original,57900,El Camino: A Breaking Bad Movie (2019),Crime|Drama|Thriller,9243946,559969.0,252,3.642857
13814,13814,205425,963,0.91825,stand-up comedy,57918,Dave Chappelle: Sticks & Stones (2019),Comedy,10810424,624932.0,69,3.543478
13815,13815,206499,742,0.88600,original,58303,Between Two Ferns: The Movie (2019),Comedy,9398640,584962.0,90,3.055556

In [101]:
genres = []
for i in range(len(yellow_team_df.genres)):
    for x in yellow_team_df.genres[i].split('|'):
        if x not in genres:
            genres.append(x)

for x in genres:
    yellow_team_df[x] = 0
for i in range(len(yellow_team_df.genres)):
    for x in yellow_team_df.genres[i].split('|'):
        yellow_team_df[x][i] = 1

yellow_team_df.drop(['genres'], axis=1)

/var/folders/n9/nmyqjt296k35d4yvkrgc5nbw0000gn/T/ipykernel_73930/1919174043.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  yellow_team_df[x][i] = 1

,Unnamed: 0.1,movieId,tagId,relevance,tag,Unnamed: 0,title,imdbId,tmdbId,number of ratings,...,Horror,Mystery,Sci-Fi,IMAX,Documentary,War,Musical,Western,Film-Noir,(no genres listed)
0,0,1,1036,0.99925,toys,0,Toy Story (1995),114709,862.0,57309,...,0,0,0,0,0,0,0,0,0,0
1,1,2,29,0.97600,adventure,1,Jumanji (1995),113497,8844.0,24228,...,0,0,0,0,0,0,0,0,0,0
2,2,3,901,0.97525,sequel,2,Grumpier Old Men (1995),113228,15602.0,11804,...,0,0,0,0,0,0,0,0,0,0
3,3,4,1116,0.97525,women,3,Waiting to Exhale (1995),114885,31357.0,2523,...,0,0,0,0,0,0,0,0,0,0
4,4,5,901,0.96025,sequel,4,Father of the Bride Part II (1995),113041,11862.0,11714,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13811,13811,205072,333,0.81775,dumb but funny,57790,Zombieland: Double Tap (2019),1560220,338967.0,58,...,1,0,0,0,0,0,0,0,0,0
13812,13812,205076,439,0.84750,girlie movie,57792,Downton Abbey (2019),6398184,535544.0,53,...,0,0,0,0,0,0,0,0,0,0
13813,13813,205383,742,0.82050,original,57900,El Camino: A Breaking Bad Movie (2019),9243946,559969.0,252,...,0,0,0,0,0,0,0,0,0,0
13814,13814,205425,963,0.91825,stand-up comedy,57918,Dave Chappelle: Sticks & Stones (2019),10810424,624932.0,69,...,0,0,0,0,0,0,0,0,0,0
13815,13815,206499,742,0.88600,original,58303,Between Two Ferns: The Movie (2019),9398640,584962.0,90,...,0,0,0,0,0,0,0,0,0,0

In [102]:
# split title(year) into separate columns to later filter by year
title_years2 = yellow_team_df['title']
split_title_years2 = title_years2.str.split(r'\((.*)\)')
# convert the array into a series
split_title_years_df2 = split_title_years2.apply(pd.Series)
split_title_years_df2 = split_title_years_df2.rename(columns={0: 'title', 1: 'year', 2: 'misc'})
sty_df2 = split_title_years_df2.year.str.extract('(^\d+)')
sty_df2.head(50)

       0
0   1995
1   1995
2   1995
3   1995
4   1995
5   1995
6   1995
7   1995
8   1995
9   1995
10  1995
11  1995
12  1995
13  1995
14  1995
15  1995
16  1995
17  1995
18  1995
19  1995
20  1995
21  1995
22  1995
23  1995
24  1995
25  1995
26  1995
27  1995
28   NaN
29   NaN
30  1995
31   NaN
32  1995
33  1995
34  1995
35  1995
36  1995
37  1995
38  1995
39  1995
40  1995
41  1995
42  1995
43  1995
44  1995
45  1995
46   NaN
47  1995
48  1995
49  1995

In [103]:
sty_df2.reset_index()

       index     0
0          0  1995
1          1  1995
2          2  1995
3          3  1995
4          4  1995
...      ...   ...
13811  13811  2019
13812  13812  2019
13813  13813  2019
13814  13814  2019
13815  13815  2019

[13816 rows x 2 columns]

In [104]:
yellow_team_years_df = pd.merge(sty_df2, yellow_team_df, right_index=True, left_index=True)
yellow_team_years_df.rename(columns={0: 'year'}, inplace=True)
yellow_team_years_df

,year,Unnamed: 0.1,movieId,tagId,relevance,tag,Unnamed: 0,title,genres,imdbId,...,Horror,Mystery,Sci-Fi,IMAX,Documentary,War,Musical,Western,Film-Noir,(no genres listed)
0,1995,0,1,1036,0.99925,toys,0,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,114709,...,0,0,0,0,0,0,0,0,0,0
1,1995,1,2,29,0.97600,adventure,1,Jumanji (1995),Adventure|Children|Fantasy,113497,...,0,0,0,0,0,0,0,0,0,0
2,1995,2,3,901,0.97525,sequel,2,Grumpier Old Men (1995),Comedy|Romance,113228,...,0,0,0,0,0,0,0,0,0,0
3,1995,3,4,1116,0.97525,women,3,Waiting to Exhale (1995),Comedy|Drama|Romance,114885,...,0,0,0,0,0,0,0,0,0,0
4,1995,4,5,901,0.96025,sequel,4,Father of the Bride Part II (1995),Comedy,113041,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13811,2019,13811,205072,333,0.81775,dumb but funny,57790,Zombieland: Double Tap (2019),Action|Comedy|Horror,1560220,...,1,0,0,0,0,0,0,0,0,0
13812,2019,13812,205076,439,0.84750,girlie movie,57792,Downton Abbey (2019),Drama,6398184,...,0,0,0,0,0,0,0,0,0,0
13813,2019,13813,205383,742,0.82050,original,57900,El Camino: A Breaking Bad Movie (2019),Crime|Drama|Thriller,9243946,...,0,0,0,0,0,0,0,0,0,0
13814,2019,13814,205425,963,0.91825,stand-up comedy,57918,Dave Chappelle: Sticks & Stones (2019),Comedy,10810424,...,0,0,0,0,0,0,0,0,0,0
13815,2019,13815,206499,742,0.88600,original,58303,Between Two Ferns: The Movie (2019),Comedy,9398640,...,0,0,0,0,0,0,0,0,0,0

In [105]:
yellow_team_years_df.dropna(inplace=True)
yellow_team_years_df

,year,Unnamed: 0.1,movieId,tagId,relevance,tag,Unnamed: 0,title,genres,imdbId,...,Horror,Mystery,Sci-Fi,IMAX,Documentary,War,Musical,Western,Film-Noir,(no genres listed)
0,1995,0,1,1036,0.99925,toys,0,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,114709,...,0,0,0,0,0,0,0,0,0,0
1,1995,1,2,29,0.97600,adventure,1,Jumanji (1995),Adventure|Children|Fantasy,113497,...,0,0,0,0,0,0,0,0,0,0
2,1995,2,3,901,0.97525,sequel,2,Grumpier Old Men (1995),Comedy|Romance,113228,...,0,0,0,0,0,0,0,0,0,0
3,1995,3,4,1116,0.97525,women,3,Waiting to Exhale (1995),Comedy|Drama|Romance,114885,...,0,0,0,0,0,0,0,0,0,0
4,1995,4,5,901,0.96025,sequel,4,Father of the Bride Part II (1995),Comedy,113041,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13811,2019,13811,205072,333,0.81775,dumb but funny,57790,Zombieland: Double Tap (2019),Action|Comedy|Horror,1560220,...,1,0,0,0,0,0,0,0,0,0
13812,2019,13812,205076,439,0.84750,girlie movie,57792,Downton Abbey (2019),Drama,6398184,...,0,0,0,0,0,0,0,0,0,0
13813,2019,13813,205383,742,0.82050,original,57900,El Camino: A Breaking Bad Movie (2019),Crime|Drama|Thriller,9243946,...,0,0,0,0,0,0,0,0,0,0
13814,2019,13814,205425,963,0.91825,stand-up comedy,57918,Dave Chappelle: Sticks & Stones (2019),Comedy,10810424,...,0,0,0,0,0,0,0,0,0,0
13815,2019,13815,206499,742,0.88600,original,58303,Between Two Ferns: The Movie (2019),Comedy,9398640,...,0,0,0,0,0,0,0,0,0,0

In [106]:
yellow_team_years_df['year'] = yellow_team_years_df['year'].astype(object).astype(int)

In [107]:
yellow_team_years_df.dtypes

year                    int64
Unnamed: 0.1            int64
movieId                 int64
tagId                   int64
relevance             float64
tag                    object
Unnamed: 0              int64
title                  object
genres                 object
imdbId                  int64
tmdbId                float64
number of ratings       int64
rating                float64
Adventure               int64
Animation               int64
Children                int64
Comedy                  int64
Fantasy                 int64
Romance                 int64
Drama                   int64
Action                  int64
Crime                   int64
Thriller                int64
Horror                  int64
Mystery                 int64
Sci-Fi                  int64
IMAX                    int64
Documentary             int64
War                     int64
Musical                 int64
Western                 int64
Film-Noir               int64
(no genres listed)      int64
dtype: object

In [108]:
filtered_movies_df = yellow_team_years_df.loc[yellow_team_years_df['year'] >= 1930]
filtered_movies_df.columns

Index(['year', 'Unnamed: 0.1', 'movieId', 'tagId', 'relevance', 'tag',
       'Unnamed: 0', 'title', 'genres', 'imdbId', 'tmdbId',
       'number of ratings', 'rating', 'Adventure', 'Animation', 'Children',
       'Comedy', 'Fantasy', 'Romance', 'Drama', 'Action', 'Crime', 'Thriller',
       'Horror', 'Mystery', 'Sci-Fi', 'IMAX', 'Documentary', 'War', 'Musical',
       'Western', 'Film-Noir', '(no genres listed)'],
      dtype='object')

In [109]:
tags = filtered_movies_df['tag']
len(tags.unique())

822

In [110]:
filtered_movies_df.to_csv('/Users/adambachrach/Desktop/Yellow_Project/filtered_movies.csv')
genres = filtered_movies_df[['Adventure', 'Animation', 'Children', 'Comedy', 'Fantasy',
       'Romance', 'Drama', 'Action', 'Crime', 'Thriller', 'Horror', 'Mystery',
       'Sci-Fi', 'IMAX', 'Documentary', 'War', 'Musical', 'Western',
       'Film-Noir', '(no genres listed)']]

In [111]:
table = pd.pivot_table(filtered_movies_df, values=genres, index='title', columns='tag', fill_value=0)
table

                                        (no genres listed)                     \
tag                                           007 (series) 18th century 1930s
title
"Great Performances" Cats (1998)                         0            0     0
$5 a Day (2008)                                          0            0     0
$9.99 (2008)                                             0            0     0
'71 (2014)                                               0            0     0
'Hellboy': The Seeds of Creation (2004)                  0            0     0
...                                                    ...          ...   ...
xXx (2002)                                               0            0     0
xXx: Return of Xander Cage (2017)                        0            0     0
xXx: State of the Union (2005)                           0            0     0
¡Three Amigos! (1986)                                    0            0     0
À nos amours (1983)                                      0            0     0

                                                                 \
tag                                     1950s 1980s  7 70mm 80s
title
"Great Performances" Cats (1998)            0     0  0    0   0
$5 a Day (2008)                             0     0  0    0   0
$9.99 (2008)                                0     0  0    0   0
'71 (2014)                                  0     0  0    0   0
'Hellboy': The Seeds of Creation (2004)     0     0  0    0   0
...                                       ...   ... ..  ...  ..
xXx (2002)                                  0     0  0    0   0
xXx: Return of Xander Cage (2017)           0     0  0    0   0
xXx: State of the Union (2005)              0     0  0    0   0
¡Three Amigos! (1986)                       0     0  0    0   0
À nos amours (1983)                         0     0  0    0   0

                                                                  ...  \
tag                                     aardman studios abortion  ...
title                                                             ...
"Great Performances" Cats (1998)                      0        0  ...
$5 a Day (2008)                                       0        0  ...
$9.99 (2008)                                          0        0  ...
'71 (2014)                                            0        0  ...
'Hellboy': The Seeds of Creation (2004)               0        0  ...
...                                                 ...      ...  ...
xXx (2002)                                            0        0  ...
xXx: Return of Xander Cage (2017)                     0        0  ...
xXx: State of the Union (2005)                        0        0  ...
¡Three Amigos! (1986)                                 0        0  ...
À nos amours (1983)                                   0        0  ...

                                               Western              \
tag                                     world politics world war i
title
"Great Performances" Cats (1998)                     0           0
$5 a Day (2008)                                      0           0
$9.99 (2008)                                         0           0
'71 (2014)                                           0           0
'Hellboy': The Seeds of Creation (2004)              0           0
...                                                ...         ...
xXx (2002)                                           0           0
xXx: Return of Xander Cage (2017)                    0           0
xXx: State of the Union (2005)                       0           0
¡Three Amigos! (1986)                                0           0
À nos amours (1983)                                  0           0

                                                                            \
tag                                     world war ii writer's life writers
title
"Great Performances" Cats (1998)                   0             0       0
$5 a Day (2008)                                    0             0       0
$9.99 (2008)                                       0             0       0
'71 (2014)                                         0             0       0
'Hellboy': The Seeds of Creation (2004)            0             0       0
...                                              ...           ...     ...
xXx (2002)                                         0             0       0
xXx: Return of Xander Cage (2017)                  0             0       0
xXx: State of the Union (2005)                     0             0       0
¡Three Amigos! (1986)                              0             0       0
À nos amours (1983)                                0             0       0


tag                                     writing wuxia wwii zombie zombies
title
"Great Performances" Cats (1998)              0     0    0      0       0
$5 a Day (2008)                               0     0    0      0       0
$9.99 (2008)                                  0     0    0      0       0
'71 (2014)                                    0     0    0      0       0
'Hellboy': The Seeds of Creation (2004)       0     0    0      0       0
...                                         ...   ...  ...    ...     ...
xXx (2002)                                    0     0    0      0       0
xXx: Return of Xander Cage (2017)             0     0    0      0       0
xXx: State of the Union (2005)                0     0    0      0       0
¡Three Amigos! (1986)                         0     0    0      0       0
À nos amours (1983)                           0     0    0      0       0

[11953 rows x 16440 columns]

In [112]:
table_df = pd.DataFrame(table)
table_df

                                        (no genres listed)                     \
tag                                           007 (series) 18th century 1930s
title
"Great Performances" Cats (1998)                         0            0     0
$5 a Day (2008)                                          0            0     0
$9.99 (2008)                                             0            0     0
'71 (2014)                                               0            0     0
'Hellboy': The Seeds of Creation (2004)                  0            0     0
...                                                    ...          ...   ...
xXx (2002)                                               0            0     0
xXx: Return of Xander Cage (2017)                        0            0     0
xXx: State of the Union (2005)                           0            0     0
¡Three Amigos! (1986)                                    0            0     0
À nos amours (1983)                                      0            0     0

                                                                 \
tag                                     1950s 1980s  7 70mm 80s
title
"Great Performances" Cats (1998)            0     0  0    0   0
$5 a Day (2008)                             0     0  0    0   0
$9.99 (2008)                                0     0  0    0   0
'71 (2014)                                  0     0  0    0   0
'Hellboy': The Seeds of Creation (2004)     0     0  0    0   0
...                                       ...   ... ..  ...  ..
xXx (2002)                                  0     0  0    0   0
xXx: Return of Xander Cage (2017)           0     0  0    0   0
xXx: State of the Union (2005)              0     0  0    0   0
¡Three Amigos! (1986)                       0     0  0    0   0
À nos amours (1983)                         0     0  0    0   0

                                                                  ...  \
tag                                     aardman studios abortion  ...
title                                                             ...
"Great Performances" Cats (1998)                      0        0  ...
$5 a Day (2008)                                       0        0  ...
$9.99 (2008)                                          0        0  ...
'71 (2014)                                            0        0  ...
'Hellboy': The Seeds of Creation (2004)               0        0  ...
...                                                 ...      ...  ...
xXx (2002)                                            0        0  ...
xXx: Return of Xander Cage (2017)                     0        0  ...
xXx: State of the Union (2005)                        0        0  ...
¡Three Amigos! (1986)                                 0        0  ...
À nos amours (1983)                                   0        0  ...

                                               Western              \
tag                                     world politics world war i
title
"Great Performances" Cats (1998)                     0           0
$5 a Day (2008)                                      0           0
$9.99 (2008)                                         0           0
'71 (2014)                                           0           0
'Hellboy': The Seeds of Creation (2004)              0           0
...                                                ...         ...
xXx (2002)                                           0           0
xXx: Return of Xander Cage (2017)                    0           0
xXx: State of the Union (2005)                       0           0
¡Three Amigos! (1986)                                0           0
À nos amours (1983)                                  0           0

                                                                            \
tag                                     world war ii writer's life writers
title
"Great Performances" Cats (1998)                   0             0       0
$5 a Day (2008)                                    0             0       0
$9.99 (2008)                                       0             0       0
'71 (2014)                                         0             0       0
'Hellboy': The Seeds of Creation (2004)            0             0       0
...                                              ...           ...     ...
xXx (2002)                                         0             0       0
xXx: Return of Xander Cage (2017)                  0             0       0
xXx: State of the Union (2005)                     0             0       0
¡Three Amigos! (1986)                              0             0       0
À nos amours (1983)                                0             0       0


tag                                     writing wuxia wwii zombie zombies
title
"Great Performances" Cats (1998)              0     0    0      0       0
$5 a Day (2008)                               0     0    0      0       0
$9.99 (2008)                                  0     0    0      0       0
'71 (2014)                                    0     0    0      0       0
'Hellboy': The Seeds of Creation (2004)       0     0    0      0       0
...                                         ...   ...  ...    ...     ...
xXx (2002)                                    0     0    0      0       0
xXx: Return of Xander Cage (2017)             0     0    0      0       0
xXx: State of the Union (2005)                0     0    0      0       0
¡Three Amigos! (1986)                         0     0    0      0       0
À nos amours (1983)                           0     0    0      0       0

[11953 rows x 16440 columns]

In [149]:
table_df.to_csv('/Users/adambachrach/Desktop/Yellow_Project/pivot_table.csv')
table_df

                                        (no genres listed)                     \
tag                                           007 (series) 18th century 1930s
title
"Great Performances" Cats (1998)                         0            0     0
$5 a Day (2008)                                          0            0     0
$9.99 (2008)                                             0            0     0
'71 (2014)                                               0            0     0
'Hellboy': The Seeds of Creation (2004)                  0            0     0
...                                                    ...          ...   ...
xXx (2002)                                               0            0     0
xXx: Return of Xander Cage (2017)                        0            0     0
xXx: State of the Union (2005)                           0            0     0
¡Three Amigos! (1986)                                    0            0     0
À nos amours (1983)                                      0            0     0

                                                                 \
tag                                     1950s 1980s  7 70mm 80s
title
"Great Performances" Cats (1998)            0     0  0    0   0
$5 a Day (2008)                             0     0  0    0   0
$9.99 (2008)                                0     0  0    0   0
'71 (2014)                                  0     0  0    0   0
'Hellboy': The Seeds of Creation (2004)     0     0  0    0   0
...                                       ...   ... ..  ...  ..
xXx (2002)                                  0     0  0    0   0
xXx: Return of Xander Cage (2017)           0     0  0    0   0
xXx: State of the Union (2005)              0     0  0    0   0
¡Three Amigos! (1986)                       0     0  0    0   0
À nos amours (1983)                         0     0  0    0   0

                                                                  ...  \
tag                                     aardman studios abortion  ...
title                                                             ...
"Great Performances" Cats (1998)                      0        0  ...
$5 a Day (2008)                                       0        0  ...
$9.99 (2008)                                          0        0  ...
'71 (2014)                                            0        0  ...
'Hellboy': The Seeds of Creation (2004)               0        0  ...
...                                                 ...      ...  ...
xXx (2002)                                            0        0  ...
xXx: Return of Xander Cage (2017)                     0        0  ...
xXx: State of the Union (2005)                        0        0  ...
¡Three Amigos! (1986)                                 0        0  ...
À nos amours (1983)                                   0        0  ...

                                            Western               \
tag                                     world war i world war ii
title
"Great Performances" Cats (1998)                  0            0
$5 a Day (2008)                                   0            0
$9.99 (2008)                                      0            0
'71 (2014)                                        0            0
'Hellboy': The Seeds of Creation (2004)           0            0
...                                             ...          ...
xXx (2002)                                        0            0
xXx: Return of Xander Cage (2017)                 0            0
xXx: State of the Union (2005)                    0            0
¡Three Amigos! (1986)                             0            0
À nos amours (1983)                               0            0

                                                                             \
tag                                     writer's life writers writing wuxia
title
"Great Performances" Cats (1998)                    0       0       0     0
$5 a Day (2008)                                     0       0       0     0
$9.99 (2008)                                        0       0       0     0
'71 (2014)                                          0       0       0     0
'Hellboy': The Seeds of Creation (2004)             0       0       0     0
...                                               ...     ...     ...   ...
xXx (2002)                                          0       0       0     0
xXx: Return of Xander Cage (2017)                   0       0       0     0
xXx: State of the Union (2005)                      0       0       0     0
¡Three Amigos! (1986)                               0       0       0     0
À nos amours (1983)                                 0       0       0     0

                                                            class
tag                                     wwii zombie zombies
title
"Great Performances" Cats (1998)           0      0       0     1
$5 a Day (2008)                            0      0       0     1
$9.99 (2008)                               0      0       0     1
'71 (2014)                                 0      0       0     1
'Hellboy': The Seeds of Creation (2004)    0      0       0     1
...                                      ...    ...     ...   ...
xXx (2002)                                 0      0       0     3
xXx: Return of Xander Cage (2017)          0      0       0     3
xXx: State of the Union (2005)             0      0       0     3
¡Three Amigos! (1986)                      0      0       0     1
À nos amours (1983)                        0      0       0     1

[11953 rows x 16441 columns]

In [114]:
# Create an elbow curve to find the best value for K.
inertia = []
k = list(range(1, 11))

for i in k:
    km = KMeans(n_clusters=i, random_state=0)
    km.fit(table_df)
    inertia.append(km.inertia_)

In [115]:
movie_data = {"k": k, "inertia": inertia}
table_data_df = pd.DataFrame(movie_data)
table_data_df.hvplot.line(x="k", y="inertia", xticks=k, title="Elbow Curve")

:Curve   [k]   (inertia)

In [116]:
model = KMeans(n_clusters=5, random_state=0)
model

KMeans(n_clusters=5, random_state=0)

In [157]:
model.fit_predict(table_df)
table_df['class'] = model.labels_
table_df_sample = table_df.sample(n=60, random_state=0)
table_df_sample

                                                   (no genres listed)  \
tag                                                      007 (series)
title
Skipped Parts (2000)                                                0
Anonymous (2011)                                                    0
Munich (2005)                                                       0
Others, The (2001)                                                  0
High School Musical 3: Senior Year (2008)                           0
Deuce Bigalow: Male Gigolo (1999)                                   0
Schindler's List (1993)                                             0
Malevolent (2018)                                                   0
Satanic Rites of Dracula, The (1974)                                0
Wayne's World (1992)                                                0
I, Frankenstein (2014)                                              0
Return to Oz (1985)                                                 0
Man Who Knew Too Much, The (1956)                                   0
Percy Jackson & the Olympians: The Lightning Th...                  0
Mrs. Palfrey at the Claremont (2005)                                0
Hellraiser: Hellworld (2005)                                        0
Heist (2001)                                                        0
Rookie, The (2002)                                                  0
Guy Thing, A (2003)                                                 0
Parineeta (2005)                                                    0
Guns of Navarone, The (1961)                                        0
Young & Beautiful (2013)                                            0
Cinemania (2002)                                                    0
Black Hawk Down (2001)                                              0
Good Woman, A (2004)                                                0
Punishment Park (1971)                                              0
Wait Until Dark (1967)                                              0
Grey Gardens (1975)                                                 0
Friends with Money (2006)                                           0
Lord of Illusions (1995)                                            0
Father of the Bride (1950)                                          0
Men Who Stare at Goats, The (2009)                                  0
In Country (1989)                                                   0
Nina Takes a Lover (1994)                                           0
Impostor (2002)                                                     0
The Darkness (2016)                                                 0
Mummy, The (1959)                                                   0
Hannibal (2001)                                                     0
Brigadoon (1954)                                                    0
Fail Safe (2000)                                                    0
Bound (1996)                                                        0
Smokey and the Bandit II (1980)                                     0
Woman in Black, The (1989)                                          0
Cabin Boy (1994)                                                    0
Tipping the Velvet (2002)                                           0
Navy Seals (1990)                                                   0
Wedding Gift, The (1994)                                            0
Ip Man: The Final Fight (2013)                                      0
Pirates of the Caribbean: Dead Men Tell No Tale...                  0
Carrington (1995)                                                   0
Captain Blood (1935)                                                0
Rude Awakening (1989)                                               0
Wild America (1997)                                                 0
American Ninja 2: The Confrontation (1987)                          0
Home Room (2002)                                                    0
Cinderella Man (2005)                                               0
Frankenstein Meets the Wolf Man (1943)                              0
Singh Is Kinng (2008)                                               0
Marat/Sade (1966)                                                   0
Dancing at Lughnasa (1998)                                          0

                                                                             \
tag                                                18th century 1930s 1950s
title
Skipped Parts (2000)                                          0     0     0
Anonymous (2011)                                              0     0     0
Munich (2005)                                                 0     0     0
Others, The (2001)                                            0     0     0
High School Musical 3: Senior Year (2008)                     0     0     0
Deuce Bigalow: Male Gigolo (1999)                             0     0     0
Schindler's List (1993)                                       0     0     0
Malevolent (2018)                                             0     0     0
Satanic Rites of Dracula, The (1974)                          0     0     0
Wayne's World (1992)                                          0     0     0
I, Frankenstein (2014)                                        0     0     0
Return to Oz (1985)                                           0     0     0
Man Who Knew Too Much, The (1956)                             0     0     0
Percy Jackson & the Olympians: The Lightning Th...            0     0     0
Mrs. Palfrey at the Claremont (2005)                          0     0     0
Hellraiser: Hellworld (2005)                                  0     0     0
Heist (2001)                                                  0     0     0
Rookie, The (2002)                                            0     0     0
Guy Thing, A (2003)                                           0     0     0
Parineeta (2005)                                              0     0     0
Guns of Navarone, The (1961)                                  0     0     0
Young & Beautiful (2013)                                      0     0     0
Cinemania (2002)                                              0     0     0
Black Hawk Down (2001)                                        0     0     0
Good Woman, A (2004)                                          0     0     0
Punishment Park (1971)                                        0     0     0
Wait Until Dark (1967)                                        0     0     0
Grey Gardens (1975)                                           0     0     0
Friends with Money (2006)                                     0     0     0
Lord of Illusions (1995)                                      0     0     0
Father of the Bride (1950)                                    0     0     0
Men Who Stare at Goats, The (2009)                            0     0     0
In Country (1989)                                             0     0     0
Nina Takes a Lover (1994)                                     0     0     0
Impostor (2002)                                               0     0     0
The Darkness (2016)                                           0     0     0
Mummy, The (1959)                                             0     0     0
Hannibal (2001)                                               0     0     0
Brigadoon (1954)                                              0     0     0
Fail Safe (2000)                                              0     0     0
Bound (1996)                                                  0     0     0
Smokey and the Bandit II (1980)                               0     0     0
Woman in Black, The (1989)                                    0     0     0
Cabin Boy (1994)                                              0     0     0
Tipping the Velvet (2002)                                     0     0     0
Navy Seals (1990)                                             0     0     0
Wedding Gift, The (1994)                                      0     0     0
Ip Man: The Final Fight (2013)                                0     0     0
Pirates of the Caribbean: Dead Men Tell No Tale...            0     0     0
Carrington (1995)                                             0     0     0
Captain Blood (1935)                                          0     0     0
Rude Awakening (1989)                                         0     0     0
Wild America (1997)                                           0     0     0
American Ninja 2: The Confrontation (1987)                    0     0     0
Home Room (2002)                                              0     0     0
Cinderella Man (2005)                                         0     0     0
Frankenstein Meets the Wolf Man (1943)                        0     0     0
Singh Is Kinng (2008)                                         0     0     0
Marat/Sade (1966)                                             0     0     0
Dancing at Lughnasa (1998)                                    0     0     0

                                                                      \
tag                                                1980s  7 70mm 80s
title
Skipped Parts (2000)                                   0  0    0   0
Anonymous (2011)                                       0  0    0   0
Munich (2005)                                          0  0    0   0
Others, The (2001)                                     0  0    0   0
High School Musical 3: Senior Year (2008)              0  0    0   0
Deuce Bigalow: Male Gigolo (1999)                      0  0    0   0
Schindler's List (1993)                                0  0    0   0
Malevolent (2018)                                      0  0    0   0
Satanic Rites of Dracula, The (1974)                   0  0    0   0
Wayne's World (1992)                                   0  0    0   0
I, Frankenstein (2014)                                 0  0    0   0
Return to Oz (1985)                                    0  0    0   0
Man Who Knew Too Much, The (1956)                      0  0    0   0
Percy Jackson & the Olympians: The Lightning Th...     0  0    0   0
Mrs. Palfrey at the Claremont (2005)                   0  0    0   0
Hellraiser: Hellworld (2005)                           0  0    0   0
Heist (2001)                                           0  0    0   0
Rookie, The (2002)                                     0  0    0   0
Guy Thing, A (2003)                                    0  0    0   0
Parineeta (2005)                                       0  0    0   0
Guns of Navarone, The (1961)                           0  0    0   0
Young & Beautiful (2013)                               0  0    0   0
Cinemania (2002)                                       0  0    0   0
Black Hawk Down (2001)                                 0  0    0   0
Good Woman, A (2004)                                   0  0    0   0
Punishment Park (1971)                                 0  0    0   0
Wait Until Dark (1967)                                 0  0    0   0
Grey Gardens (1975)                                    0  0    0   0
Friends with Money (2006)                              0  0    0   0
Lord of Illusions (1995)                               0  0    0   0
Father of the Bride (1950)                             0  0    0   0
Men Who Stare at Goats, The (2009)                     0  0    0   0
In Country (1989)                                      0  0    0   0
Nina Takes a Lover (1994)                              0  0    0   0
Impostor (2002)                                        0  0    0   0
The Darkness (2016)                                    0  0    0   0
Mummy, The (1959)                                      0  0    0   0
Hannibal (2001)                                        0  0    0   0
Brigadoon (1954)                                       0  0    0   0
Fail Safe (2000)                                       0  0    0   0
Bound (1996)                                           0  0    0   0
Smokey and the Bandit II (1980)                        0  0    0   0
Woman in Black, The (1989)                             0  0    0   0
Cabin Boy (1994)                                       0  0    0   0
Tipping the Velvet (2002)                              0  0    0   0
Navy Seals (1990)                                      0  0    0   0
Wedding Gift, The (1994)                               0  0    0   0
Ip Man: The Final Fight (2013)                         0  0    0   0
Pirates of the Caribbean: Dead Men Tell No Tale...     0  0    0   0
Carrington (1995)                                      0  0    0   0
Captain Blood (1935)                                   0  0    0   0
Rude Awakening (1989)                                  0  0    0   0
Wild America (1997)                                    0  0    0   0
American Ninja 2: The Confrontation (1987)             0  0    0   0
Home Room (2002)                                       0  0    0   0
Cinderella Man (2005)                                  0  0    0   0
Frankenstein Meets the Wolf Man (1943)                 0  0    0   0
Singh Is Kinng (2008)                                  0  0    0   0
Marat/Sade (1966)                                      0  0    0   0
Dancing at Lughnasa (1998)                             0  0    0   0

                                                                             \
tag                                                aardman studios abortion
title
Skipped Parts (2000)                                             0        0
Anonymous (2011)                                                 0        0
Munich (2005)                                                    0        0
Others, The (2001)                                               0        0
High School Musical 3: Senior Year (2008)                        0        0
Deuce Bigalow: Male Gigolo (1999)                                0        0
Schindler's List (1993)                                          0        0
Malevolent (2018)                                                0        0
Satanic Rites of Dracula, The (1974)                             0        0
Wayne's World (1992)                                             0        0
I, Frankenstein (2014)                                           0        0
Return to Oz (1985)                                              0        0
Man Who Knew Too Much, The (1956)                                0        0
Percy Jackson & the Olympians: The Lightning Th...               0        0
Mrs. Palfrey at the Claremont (2005)                             0        0
Hellraiser: Hellworld (2005)                                     0        0
Heist (2001)                                                     0        0
Rookie, The (2002)                                               0        0
Guy Thing, A (2003)                                              0        0
Parineeta (2005)                                                 0        0
Guns of Navarone, The (1961)                                     0        0
Young & Beautiful (2013)                                         0        0
Cinemania (2002)                                                 0        0
Black Hawk Down (2001)                                           0        0
Good Woman, A (2004)                                             0        0
Punishment Park (1971)                                           0        0
Wait Until Dark (1967)                                           0        0
Grey Gardens (1975)                                              0        0
Friends with Money (2006)                                        0        0
Lord of Illusions (1995)                                         0        0
Father of the Bride (1950)                                       0        0
Men Who Stare at Goats, The (2009)                               0        0
In Country (1989)                                                0        0
Nina Takes a Lover (1994)                                        0        0
Impostor (2002)                                                  0        0
The Darkness (2016)                                              0        0
Mummy, The (1959)                                                0        0
Hannibal (2001)                                                  0        0
Brigadoon (1954)                                                 0        0
Fail Safe (2000)                                                 0        0
Bound (1996)                                                     0        0
Smokey and the Bandit II (1980)                                  0        0
Woman in Black, The (1989)                                       0        0
Cabin Boy (1994)                                                 0        0
Tipping the Velvet (2002)                                        0        0
Navy Seals (1990)                                                0        0
Wedding Gift, The (1994)                                         0        0
Ip Man: The Final Fight (2013)                                   0        0
Pirates of the Caribbean: Dead Men Tell No Tale...               0        0
Carrington (1995)                                                0        0
Captain Blood (1935)                                             0        0
Rude Awakening (1989)                                            0        0
Wild America (1997)                                              0        0
American Ninja 2: The Confrontation (1987)                       0        0
Home Room (2002)                                                 0        0
Cinderella Man (2005)                                            0        0
Frankenstein Meets the Wolf Man (1943)                           0        0
Singh Is Kinng (2008)                                            0        0
Marat/Sade (1966)                                                0        0
Dancing at Lughnasa (1998)                                       0        0

                                                    ...     Western  \
tag                                                 ... world war i
title                                               ...
Skipped Parts (2000)                                ...           0
Anonymous (2011)                                    ...           0
Munich (2005)                                       ...           0
Others, The (2001)                                  ...           0
High School Musical 3: Senior Year (2008)           ...           0
Deuce Bigalow: Male Gigolo (1999)                   ...           0
Schindler's List (1993)                             ...           0
Malevolent (2018)                                   ...           0
Satanic Rites of Dracula, The (1974)                ...           0
Wayne's World (1992)                                ...           0
I, Frankenstein (2014)                              ...           0
Return to Oz (1985)                                 ...           0
Man Who Knew Too Much, The (1956)                   ...           0
Percy Jackson & the Olympians: The Lightning Th...  ...           0
Mrs. Palfrey at the Claremont (2005)                ...           0
Hellraiser: Hellworld (2005)                        ...           0
Heist (2001)                                        ...           0
Rookie, The (2002)                                  ...           0
Guy Thing, A (2003)                                 ...           0
Parineeta (2005)                                    ...           0
Guns of Navarone, The (1961)                        ...           0
Young & Beautiful (2013)                            ...           0
Cinemania (2002)                                    ...           0
Black Hawk Down (2001)                              ...           0
Good Woman, A (2004)                                ...           0

In [143]:
filtered_to_merge = filtered_movies_df.drop(['Adventure', 'Animation', 'Children',
       'Comedy', 'Fantasy', 'Romance', 'Drama', 'Action', 'Crime', 'Thriller',
       'Horror', 'Mystery', 'Sci-Fi', 'IMAX', 'Documentary', 'War', 'Musical',
       'Western', 'Film-Noir', '(no genres listed)'], axis=1)

filtered_to_merge = pd.get_dummies(filtered_to_merge, columns=['genres'])
filtered_to_merge

,year,Unnamed: 0.1,movieId,tagId,relevance,tag,Unnamed: 0,title,imdbId,tmdbId,...,genres_Sci-Fi,genres_Sci-Fi|IMAX,genres_Sci-Fi|Thriller,genres_Sci-Fi|Thriller|IMAX,genres_Sci-Fi|Western,genres_Thriller,genres_Thriller|War,genres_Thriller|Western,genres_War,genres_Western
0,1995,0,1,1036,0.99925,toys,0,Toy Story (1995),114709,862.0,...,0,0,0,0,0,0,0,0,0,0
1,1995,1,2,29,0.97600,adventure,1,Jumanji (1995),113497,8844.0,...,0,0,0,0,0,0,0,0,0,0
2,1995,2,3,901,0.97525,sequel,2,Grumpier Old Men (1995),113228,15602.0,...,0,0,0,0,0,0,0,0,0,0
3,1995,3,4,1116,0.97525,women,3,Waiting to Exhale (1995),114885,31357.0,...,0,0,0,0,0,0,0,0,0,0
4,1995,4,5,901,0.96025,sequel,4,Father of the Bride Part II (1995),113041,11862.0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13811,2019,13811,205072,333,0.81775,dumb but funny,57790,Zombieland: Double Tap (2019),1560220,338967.0,...,0,0,0,0,0,0,0,0,0,0
13812,2019,13812,205076,439,0.84750,girlie movie,57792,Downton Abbey (2019),6398184,535544.0,...,0,0,0,0,0,0,0,0,0,0
13813,2019,13813,205383,742,0.82050,original,57900,El Camino: A Breaking Bad Movie (2019),9243946,559969.0,...,0,0,0,0,0,0,0,0,0,0
13814,2019,13814,205425,963,0.91825,stand-up comedy,57918,Dave Chappelle: Sticks & Stones (2019),10810424,624932.0,...,0,0,0,0,0,0,0,0,0,0
13815,2019,13815,206499,742,0.88600,original,58303,Between Two Ferns: The Movie (2019),9398640,584962.0,...,0,0,0,0,0,0,0,0,0,0

In [144]:
filtered_table_df = pd.merge(table_df, filtered_to_merge, on='title')
filtered_table_df.drop(['title', 'tag', 'imdbId', 'tmdbId', 'relevance', 'year'], axis=1, inplace=True)
filtered_table_df

/var/folders/n9/nmyqjt296k35d4yvkrgc5nbw0000gn/T/ipykernel_73930/1357039803.py:1: FutureWarning: merging between different levels is deprecated and will be removed in a future version. (2 levels on the left, 1 on the right)
  filtered_table_df = pd.merge(table_df, filtered_to_merge, on='title')

,"((no genres listed), 007 (series))","((no genres listed), 18th century)","((no genres listed), 1930s)","((no genres listed), 1950s)","((no genres listed), 1980s)","((no genres listed), 7)","((no genres listed), 70mm)","((no genres listed), 80s)","((no genres listed), aardman studios)","((no genres listed), abortion)",...,genres_Sci-Fi,genres_Sci-Fi|IMAX,genres_Sci-Fi|Thriller,genres_Sci-Fi|Thriller|IMAX,genres_Sci-Fi|Western,genres_Thriller,genres_Thriller|War,genres_Thriller|Western,genres_War,genres_Western
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11951,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
11952,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
11953,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
11954,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
11955,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [130]:
inertia = []
k = list(range(1, 11))

for i in k:
    km = KMeans(n_clusters=i, random_state=0)
    km.fit(filtered_table_df)
    inertia.append(km.inertia_)

/Users/adambachrach/Desktop/Python_Venv/lib/python3.9/site-packages/sklearn/utils/validation.py:1858: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['str', 'tuple']. An error will be raised in 1.2.
  warnings.warn(
/Users/adambachrach/Desktop/Python_Venv/lib/python3.9/site-packages/sklearn/utils/validation.py:1858: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['str', 'tuple']. An error will be raised in 1.2.
  warnings.warn(
/Users/adambachrach/Desktop/Python_Venv/lib/python3.9/site-packages/sklearn/utils/validation.py:1858: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['str', 'tuple']. An error will be raised in 1.2.
  warnings.warn(
/Users/adambachrach/Desktop/Python_Venv/lib/python3.9/site-packages/sklearn/utils/validation.py:1858: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['str', 'tuple']. An error will be raised in 1.2.
  warnings.warn(
/Users/adambachrach/Desktop/Python_Venv/lib/python3.9/site-packages/sklearn/utils/validation.py:1858: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['str', 'tuple']. An error will be raised in 1.2.
  warnings.warn(
/Users/adambachrach/Desktop/Python_Venv/lib/python3.9/site-packages/sklearn/utils/validation.py:1858: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['str', 'tuple']. An error will be raised in 1.2.
  warnings.warn(
/Users/adambachrach/Desktop/Python_Venv/lib/python3.9/site-packages/sklearn/utils/validation.py:1858: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['str', 'tuple']. An error will be raised in 1.2.
  warnings.warn(
/Users/adambachrach/Desktop/Python_Venv/lib/python3.9/site-packages/sklearn/utils/validation.py:1858: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['str', 'tuple']. An error will be raised in 1.2.
  warnings.warn(
/Users/adambachrach/Desktop/Python_Venv/lib/python3.9/site-packages/sklearn/utils/validation.py:1858: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['str', 'tuple']. An error will be raised in 1.2.
  warnings.warn(
/Users/adambachrach/Desktop/Python_Venv/lib/python3.9/site-packages/sklearn/utils/validation.py:1858: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['str', 'tuple']. An error will be raised in 1.2.
  warnings.warn(

In [131]:
movie_data2 = {"k": k, "inertia": inertia}
filtered_table_data_df = pd.DataFrame(movie_data2)
filtered_table_data_df.hvplot.line(x="k", y="inertia", xticks=k, title="Elbow Curve")

:Curve   [k]   (inertia)